// Colors
$color-white: #fff //Main Header Colors
$color-base: #e6e6e6 //Paragraph and subheadings
$color-canvas: #000033 //Base Canvas
$color-brand: #FF6633 //Main Brand
$color-brand-accent: #66CCCC //Brand Accent

// Button Hover States
$hover-brand: darken($color-brand, 15%) // Brand hover state
$hover-brand-accent: darken($color-brand-accent, 10%) // Brand accent hover state
$hover-color-white: darken($color-white, 5%)

// Fonts/font weight
$font-brand: 'Roboto Condensed', sans-serif

$font-weight-light: 100
$font-weight-medium: 400
$font-weight-normal: $font-weight-medium
$font-weight-bold: 700
$font-weight-black: 900
