
// IMPORT DOCUMENT SASS FILES,
// SEPERATED FOR ORGANIZATION

// Normalize
@import 'includes/normalize'

// Fonts, mixins, variables, etc
@import 'includes/functions'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/variables'
@import 'includes/typography'
@import 'includes/extend'
@import 'includes/layout'

// BASE STYLES FOR
// GENERAL BRAND ELEMENTS

body
    background: $color-canvas
    font-family: sans-serif
    box-sizing: border-box

h1, h2, h3, h4, h5
    color: $color-white
    font-family: $font-brand

p
    color: $color-base
    font-family: 'Arial', sans-serif


// INTRODUCTORY SECTION
.introductory__background--image
    background: url('../img/header-background-min.png') bottom center no-repeat
    background-size: cover
    height: 650px
    min-height: 100%
    margin: 0 auto
    position: relative


// NAV MENU
.introductory__nav--menu
    display: flex
    flex-direction: row
    margin-bottom: 8rem
    padding-top: 1.8rem
    justify-content: space-between
    color: $color-base
    .nav__list
        cursor: pointer
        text-transform: uppercase
        padding-left: 0
        .nav__list--item
            display: inline-block
            &:nth-of-type(1n+2)
                padding-left: 2rem
    .nav__menu--brand
        align-self: flex-start
    .nav__menu--button
        align-self: flex-end

.introductory__post
    display: flex
    flex-direction: row
    justify-content:
    .introductory__post--article
        max-width: 65%
        font-family: 'Arial', sans-serif
        font-weight: 100
        display: inline-block
    h1
        font-size: 4rem
        line-height: 4.6rem
        margin: 0
        padding: 0
    p
        color: $color-base
        font-size: 1.4rem
        line-height: 2.1rem
    .introductory__post--image
        display: inline-block

.button
    @extend %button-common

.nav__menu--button
    background: $color-brand
    &:hover
        background: $hover-brand


.introductory__button--primary
    background: $color-brand-accent
    border: 2px solid $color-brand-accent
    &:hover
        background: $hover-brand-accent
        border: 2px solid $hover-brand-accent

.introductory__button--secondary
    @extend %space-left
    border: 2px solid white
    background: none
    &:hover
        background: $hover-color-white
        border: 2px solid $hover-color-white

// BENEFITS SECTION

.benefits__article--header
    @extend %article-header

.benefits-list
    display: flex
    justify-content: space-around
    list-style-type: none
    color: $color-base
    letter-spacing: 1px
    .benefits-list__item
        text-align: center
        max-width: 25%
        i
            font-size: 2rem
            padding: 1.8rem 2rem
            background: #ff6633
            border-radius: 50%

#features
    background: $color-base

.features__article--header
    h2
        color: $color-canvas
