// INTRO SECTION
.intro__section--main
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    max-width: 100%
    .intro__main--header
        color: $color-white
        justify-content: flex-start
        max-width: 60%
        p
            font-size: 150%
            line-height: 2rem
    .button--primary
        margin-left: 25px
    .intro__article--aside
        justify-content: flex-end
        width: 400px
        max-width: 100%
        height: auto

.article__header--light
    color: $color-white

.article__header--dark
    color: $color-canvas-dark


//MEDIA QUERIES
/* For mobile phones: */
@media only screen and (max-width: 1069px)
    .intro__section--main
        justify-content: space-around
        .intro__main--header
            max-width: 40%

@media only screen and (max-width: 850px)
    .intro__section--main
        justify-content: center
        flex-flow: column-reverse wrap
        .intro__main--header
            max-width: 100%
            text-align: center
        .intro__article--aside
            align-self: center



//ENDORSEMENTS
.endorsements__list
    display: flex
    justify-content: space-around
    flex-flow: row wrap
    .endorsements__list--item
        margin: 1rem 0

//BENEFITS
.benefits__article
    padding: .5rem 0 1.5rem 0
.benefits__list--card
    cursor: pointer
    background: $color-base-subtle
    border-radius: 4px
    margin: 1rem
    &:hover
        background: lighten($color-base-subtle, 15%)
.benefits__list
    display: flex
    justify-content: space-around
    flex-flow: row wrap
    list-style-type: none
    color: $color-white
    padding: 0
    letter-spacing: 1.5px
    h4
        text-transform: uppercase
        color: $color-white
    p
        color: $color-white
        line-height: 1.5rem
    .benefits__list--item
        padding: 1.2rem 1rem
        text-align: center
        width: 250px
        max-width: 100%
        i
            margin: 0 auto
            align-self: center
            font-size: 2.2rem
            line-height: 5.2rem
            width: 90px
            height: 90px
            background: $color-brand-accent
            border-radius: 50px

//FEATURES
.features__article
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    align-items: center
    max-width: 100%
    .features__article--list
    .features__article--header
        justify-content: flex-start
        max-width: 60%
        p
            line-height: 1.5rem
        .features__list--item
            i
                color: $color-brand
                margin-right: .6rem
    .features__article--image
        background-position: center center no-repeat
        background-repeat: no-repeat
        background-size: cover
        width: 275px
        height: 275px
        max-width: 100%
    .portable
        background: url('../img/portable-min.png')
    .light-speed
        background: url('../img/lightning-fast-min.png')
    .solar-power
        background: url('../img/solar-powered-min.png')

@media only screen and (max-width: 757px)
    .features__article--image
        display: none

//FORM
#contact-form
    padding-top: 2rem
.contact-form
    width: 450px
    margin: 0 auto 4rem auto
    display: block
    position: relative
    box-sizing: border-box
    clear: both

    textarea
        resize: none

    input, textarea
        font-size: 1rem
        color: $color-white
        width: 100%
        padding: .7rem
        margin: .3rem
        background: darken($color-base-subtle, 2%)
        border: none
        &:focus
            outline: none
            border-right: 2px solid $color-brand-accent

@media (max-width: 859px)
    .contact-form
        width: 100%
        display: block
        position: relative
