//HEADER
#header__nav--fixed,
.intro__section--navbar
    display: flex
    justify-content: space-between
    align-items: center
    flex-flow: row wrap
    padding-top: 2rem
    margin-bottom: 6rem
    .intro__navbar--list
        .navbar__list--items
            display: inline
            span
                cursor: pointer
                text-decoration: none
                color: $color-white
                padding-bottom: .3rem
                transition: all .2s ease-in-out
                &:hover
                    color: $color-base
                    border-bottom: 2px solid $color-brand-accent
            &:nth-of-type(1n+2)
                padding-left: 2rem

.introductory__header--image
    background: url('../img/hubble-bg-min.png') bottom center no-repeat
    background-size: cover
    width: 100%s
    max-width: 100%
    box-sizing: border-box


//MEDIA QUERIES
/* For mobile phones: */
@media only screen and (max-width: 637px)
    #header--nav-fixed
        display: inline
        margin: 0 auto
        max-width: 100%
